<div class="comment">
  <img class="avatar" src="https://github.com/jobsonita.png" />

  <div class="commentBox">
    <div class="commentContent">
      <header>
        <div class="authorAndTime">
          <strong>Diego Fernandes</strong>
          <time dateTime="2023-07-15 20:06:45" title="15 de Julho às 20:06h">Cerca de 2h atrás</time>
        </div>

        <button title="Deletar comentário">
          <ng-icon name="featherTrash2" size="20" />
        </button>
      </header>

      <p>Muito bom Devon, parabéns!! 👋👋</p>
    </div>

    <footer>
      <button>
        <ng-icon name="featherThumbsUp" />
        Aplaudir <span>20</span>
      </button>
    </footer>
  </div>
</div>
